numpy>=1.21,<2
Pillow>=9.0

# app
Flask>=2.0,<3.0
gunicorn>=20.0
prometheus_client>=0.14
pymongo>=4.0
flask_apidoc

# dev
ipython
pycodestyle
pyflakes

# inpaint
jsonlines>=3.0
matplotlib>=3.5
torch>=1.13
torchvision>=0.14

# face detection
opencv-python-headless>=4.5

# research
tqdm>=4.60
